body {
  height: 100%;
  background-color: black;
  background-image: url('./parcel.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 20px;
}
h1 {
  color: blue;
  font-size: 6rem;
  font-weight: bold;
  text-align: center;
}
.title {
  color: coral;
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
}
